**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd

In [4]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
rating_5 = ratings[ratings['rating'] == 5.0]
joined = rating_5.merge(movies, on='movieId', how='left')
joined.title.value_counts().head(5)

Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Name: title, dtype: int64

**Вывод**: Больше всего максимальных оценок было выставлено фильму "Побег из Шоушенка"


**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
countries = pd.read_csv('power.csv')
filtered_countries = countries[(countries['country'].isin(['Estonia', 'Latvia', 'Lithuania'])) & (countries['category'].isin([4, 12, 21])) & ((countries['year'] > 2004) & (countries['year'] < 2011)) & (countries['quantity'] >= 0)]
total_consumption = sum(filtered_countries.groupby('country')['quantity'].sum())
print(f'Сумарное потребление стран Прибалтики составило {total_consumption}')

Сумарное потребление стран Прибалтики составило 240580.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [6]:
quotes= pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')

In [7]:
quotes

[     0       1      2        3      4      5        6      7      8        9   \
 0  ММВБ   2 762   0,0%   Nasdaq  9 757  -2,6%  Биткойн  8 981  -0,4%  USD/RUB
 1   РТС   1 247  -0,8%   S&P500  3 009  -2,4%    Нефть    407  -1,8%  EUR/RUB
 2   Dow  25 016  -2,8%  FTSE100  6 159   0,2%   Золото  1 771   0,0%  EUR/USD

        10    11
 0  697796  1,0%
 1  782850  1,0%
 2   11220  0,0%  ,
     Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB       860871      -               861080
 1          NaN            EUR/RUB       782850      -               774940
 2          NaN            USD/RUB       697796      -               690745
 3          NaN            JPY/RUB        06511      -                06510
 4          NaN            CNY/RUB        98582      -                98581
 5          NaN            CHF/RUB       736122      -               736150
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11220      -                11220
 8          NaN            EUR/GBP        09091      -                09032
 9          NaN            EUR/JPY      1202650      -              1203000
 10         NaN            EUR/CHF        10637      -                10640
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08913      -                08913
 13         NaN            USD/GBP        08106      -                08104
 14         NaN            USD/JPY      1071800      -              1071850
 15         NaN            USD/CHF        09479      -                09482
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08300      -                08300
 18         NaN            JPY/GBP        00076      -                00076
 19         NaN            JPY/USD        00093      -                00093
 20         NaN    JPY/CHF (100:1)        08800      -                08800
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        12337      -                12340
 23         NaN            GBP/JPY      1322280      -              1322651
 24         NaN            GBP/EUR        10999      -                11071
 25         NaN            GBP/CHF        11697      -                11781
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        11697      -                11781
 28         NaN            EUR/CHF        10637      -                10640
 29         NaN    JPY/CHF (100:1)        08800      -                08800
 30         NaN            USD/CHF        09479      -                09482
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       299221      -               299843
 33         NaN            USD/UAH       266685      -               267252
 34         NaN            CHF/UAH       281333      -               281941
 35         NaN            GBP/UAH       329010      -               329789

           %  Абсолютное значение       Время
 0   -0,02 %               -00209  27.06.2020
 1    1,02 %                07910  27.06.2020
 2    1,02 %                07051  27.06.2020
 3    0,00 %                00000  27.06.2020
 4    0,00 %                00001  27.06.2020
 5    0,00 %               -00027  27.06.2020
 6         %  Абсолютное значение       Время
 7    0,00 %                00001  27.06.2020
 8    0,65 %                00059  27.06.2020
 9   -0,03 %               -00350  27.06.2020
 10  -0,03 %               -00003  27.06.2020
 11        %  Абсолютное значение       Время
 12   0,00 %                00000  27.06.2020
 13   0,02 %                00002  27.06.2020
 14   0,00 %               -00050  27.06.2020
 15  -0,03 %               -00003  27.06.2020
 16        %  Абсолютное значение       Время
 17   0,00 %                00000  27.06.2020
 18   0,03 %                00000  27.06.2020
 19   0,00 %                00000  27.06.2020
 20  -0,03 %                00000  27.06.2020
 21        %  Абсолютное значение       Время
 22  -0,02 %               -00003  27.06.2020
 23  -0,03 %               -00371  27.06.2020
 24  -0,65 %               -00072  27.06.2020
 25  -0,71 %               -00084  27.06.2020
 26        %  Абсолютное значение       Время
 27  -0,71 %               -00084  27.06.2020
 28  -0,03 %               -00003  27.06.2020
 29  -0,03 %                00000  27.06.2020
 30  -0,03 %               -00003  27.06.2020
 31        %  Абсолютное значение       Время
 32  -0,21 %               -00622  27.06.2020
 33  -0,21 %               -00567  27.06.2020
 34  -0,22 %               -00608  27.06.2020
 35  -0,24 %               -00779  27.06.2020  ,
                                                    0  \
 0                                      Имя и фамилия
 1                                            Телефон
 2                                                NaN
 3  Я даю согласие на обработку своих персональных...

                                                    1  \
 0                                              Город
 1                                              Email
 2                                                NaN
 3  Я даю согласие на обработку своих персональных...

                                                    2  \
 0                                                NaN
 1                                                NaN
 2  Спасибо! Ваша заявка отправлена Финансовый кон...
 3                                                NaN

                                                    3  \
 0                                                NaN
 1                                                NaN
 2  Спасибо! Ваша заявка отправлена Финансовый кон...
 3                                                NaN

                                                    4  \
 0                                                NaN
 1                                                NaN
 2  ошибка: не удалось создать заявку в журнале за...
 3                                                NaN

                                                    5                       6  \
 0                                                NaN                     NaN
 1                                                NaN                     NaN
 2  ошибка: не удалось создать заявку в журнале за...  ошибка: не POST-запрос
 3                                                NaN                     NaN

                         7                                                  8  \
 0                     NaN                                                NaN
 1                     NaN                                                NaN
 2  ошибка: не POST-запрос  Просим Вас согласиться на передачу и обработку...
 3                     NaN                                                NaN

                                                    9
 0                                                NaN
 1                                                NaN
 2  Просим Вас согласиться на передачу и обработку...
 3                                                NaN  ]

**Последнее задание из лекции** Используем transactions.csv.

Для какой транзакции (столбец ID) были наибольшие расходы (столбец Cost) в категории "_8" (столбец Product)?

In [8]:
df = pd.read_csv('transactions.csv')
df_8 = df[(df['Product'] == '_8')]
df_8.sort_values('Cost', ascending=False).head(1)

    Year  Month    ID Product  Amount  Price  Total  Cost
54  2017     12  t055      _8       2   3760   7520  2400